<h1>{{ title }}</h1>

<table *ngIf="items.length > 0">
  <thead>
    <th>Id</th>
    <th>Imagen</th>
    <th>Artículo</th>
    <th>Precio</th>
    <th>Acciones</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.id }}</td>
      <td>
        <img class = "imageItem" [src]="'data:image/webp;base64,' + item.image " >
      </td>
      <td>{{ item.name }}</td>
      <td>{{ item.price }}</td>
      <td>
        <button id="btnEditCategory">Editar</button>
        <button id="btnDeleteCategory">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="btnPage">
  <button [disabled]="first" class="btn btn-secondary btnPrev" (click)="previousPage()">Anterior</button>
  <span>  Pagina {{page+1}} de {{totalPages}} - Total de elementos {{totalElements}}  </span>
  <button [disabled]="last" class="btn btn-secondary btnNext" (click)="nextPage()">Siguiente</button>
</div>
